{% extends "base.html" %}

{% block content %}
<h1>Chevalier Souris</h1>
{% load static %}
<img src="{% static 'toolbox/mausritter_banner.jpg' %}">
<br><br>
<p>Soyez les bienvenus sur ce modeste outil dont le but est de vous aider à tirer sur les tables aléatoires
    du merveilleux jeu <a target="_blank" href="https://mausritter.com/">Mausritter</a> un peu plus vite qu’à la main.
</p>

<p>Sur ce site vous trouverez dans la boîte à outils de quoi tirer des graines d'aventure, des souris non joueuses, des
    lieux d'aventure, et des trésors.</p>

<p>La section bestiaire reprend le bestiaire du livre de base.</p>

<p><a target="_blank" href="https://mausritter.com/">Mausritter</a> est un jeu créé par <a target="_blank"
        href="https://twitter.com/isaacwilliams">Isaac
        Williams</a> que je vous encourage vivement à acheter, en PDF ou version physique.</p>

<p><a href="https://electric-goat.net/mausritter" target="_blank">La version française</a> est publiée par Electric
    Goat. J'ai repris au maximum leur traduction, en corrigeant quelques bricoles par ci par là, et en la complétant
    avec les éléments de la nouvelle édition du jeu, qui n'a pas encore été publiée en français.</p>

<p>Toutes les illustrations sont d'Isaac Williams, créateur du jeu.</p>

<p>À ma connaissance ce site n’utilise pas de cookies et aucun moyen de vous traquer, même pas Google Analytics.</p>
{% endblock %}